#play, #stop, #time  {
	position: fixed;
	top: 5vh;
	height: 10vh;
	width: 10vw;
	font-size: 5vh;
}

#play {
	left: 5vw;
}

#stop {
	right: 5vw;
}

#time {
	left: 20vw;
	width: 60vw;
	font-size: 10vh;
	text-align: center;
}

.staminaBox {
	position: fixed;
	top: 20vh;
	left: 5vw;
	height: 10vh;
	width: 90vw;
	border: 1px solid;
}

#staminaBar {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: green;
}

#setTime {
	position: fixed;
	top: 35vh;
	left: 5vw;
}


.clock {
	position: fixed;
	top: 35vh;
	left: 47vw;
	border: 4px solid black;
	border-radius: 100%;
	padding: 3vw;
	text-align: center;
}

#hours {
	position: absolute;
	background-color: black;
	width: 4px;
	height: 25px;
	margin: auto;
	transform-origin: left top;
}

#min {
	position: absolute;
	background-color: black;
	width: 2px;
	height: 40px;
	margin: auto;
	transform-origin: left top;
}

#sec {
	position: absolute;
	background-color: red;
	width: 1px;
	height: 45px;
	margin: auto;
	transform-origin: left top;
}
