body  {
	background-color: beige;
}

#play, #stop, #time, #next  {
	position: absolute;
	height: 10vh;
	width: 10vw;
	font-size: 5vh;
	text-align: center;
	line-height: 10vh;
	overflow: hidden;
}

#play {
	top: 5vh;
	left: 5vw;
	background-color: green;
}

#stop {
	top: 5vh;
	right: 5vw;
	background-color: red;
}

#next {
	top: 5vh;
	left: 20vw;
	background-color: orange;
}

#play:hover {
	cursor: wait;
}

#stop:hover {
	cursor: not-allowed;
}

#next:hover {
	cursor: e-resize;
}

#time {
	top: 5vh;
	left: 30vw;
	width: 55vw;
	font-size: 10vh;
	background-color: beige;
}

.staminaBox, .staminaText {
	position: absolute;
	top: 25vh;
	left: 5vw;
	height: 10vh;
	width: 90vw;
	text-align: center;
	border: 1px solid;
}

.staminaText {
	left: 20vw;
	width: 60vw;
	margin: 0;
	padding: 0;
	font-size: 10vh;
	line-height: 10vh;
	z-index: 100;
	border: none;
}

#staminaBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: green;
	z-index: 50;
}


.clock {
	position: absolute;
	top: 45vh;
	left: calc(50vw - 20vh);
	width: 40vh;
	height: 40vh;
	border: 4px solid black;
	border-radius: 100%;
	text-align: center;
}

#hour, #hourF, #min, #minF, #sec, #secF {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	transform-origin: left top;
}

#hour, #hourF {
	width: 4px;
	height: 25%;
}

#min, #minF {
	width: 2px;
	height: 35%;
}

#sec, #secF {
	width: 1px;
	height: 45%;
}

#hour, #min, #sec {
	background-color: black;
	opacity: 0.7;
	z-index: 100;
}

#hourF, #minF, #secF {
	background-color: red;
	z-index: 50;
}

/* Merci benoit ^^ */
input[type="number"] {
	background-color: transparent;
	border: none;
	width: 2.3em;
	outline: none;
	font-size: 3vh;
	text-align: center;
	letter-spacing: 1px;
}

#workSet, #breakSet, #stopSet {
	position: absolute;
	left: 5vw;
	width: 10vw;
	height: 10vh;
	line-height: 4vh;
	text-align: center;
	font-size: 3vh;
	overflow: auto;
}

#workSet {
	top: 45vh;
	background-color: orange;
}

#breakSet {
	top: 60vh;
	background-color: green;
}

#stopSet {
	top: 75vh;
	background-color: magenta;
}

#menuSwitch {
	position: absolute;
	right: 5vw;
	top: 45vh;
	font-size: 5vh;
	z-index: 100;
}

#menu {
	position: absolute;
	right: 5vw;
	top: 45vh;
	width: 15vw;
	height: 45vh;
	padding: 0 1vw;
	display: none;
	background-color: whitesmoke;
	font-size: 1.75vh;
	z-index: 50;
	overflow: auto;
}

#phaseShower {
	position: absolute;
	left: 16vw;
	display: none;
	height: 10vh;
	line-height: 10vh;
	font-size: 8vh;
}

.version {
	position: absolute;
	bottom: 1px;
	right: 1px;
	margin: 0;
	padding: 0;
}

#selectWork, #selectBreak, #selectChill {
	position: absolute;
	left: 1vw;
	height: 10vh;
	line-height: 10vh;
	font-size: 3vw;
	overflow: hidden;
}

#selectWork:hover, #selectBreak:hover, #selectChill:hover {
	cursor: crosshair;
}

#selectWork {
	top: 45vh;
}

#selectBreak {
	top: 60vh;
}

#selectChill {
	top: 75vh;
}

@media only screen and (orientation: portrait) {
	.clock {
		left: 30vw;
		width: 40vw;
		height: 40vw;
	}

	#time {
		font-size: 10vw;
	}

	.staminaText {
		font-size: 10vw;
	}

	#menu {
		font-size: 1.7vw;
	}

	#menuSwitch {
		font-size: 5vw;
	}
}