body  {
	background-color: beige;
	--nbOr: calc(165580141 / 102334155);
	--ratio: var(--nbOr);
	--bWidth: 10vw;
	--bHeight: calc(var(--bWidth) / var(--ratio));
	--hSpace: calc(var(--bHeight) / var(--ratio));
	--hWorkZone: calc(var(--bHeight) * 3 + var(--hSpace) * 1);
	--wTime: calc(71vw - (var(--bWidth) * 3 + var(--bHeight) * 2));
	--workSetTop: calc(var(--hSpace) * 3 + var(--bHeight) * 2);
	--breakSetTop: calc(var(--hSpace) * 3.5 + var(--bHeight) * 3);
	--chillSetTop: calc(var(--hSpace) * 4 + var(--bHeight) * 4);
}
.myButton {
	position: absolute;
	height: var(--bHeight);
	width: var(--bWidth);
	text-align: center;
	overflow: hidden;
	border-radius: var(--bHeight);
	font-size: calc(var(--bHeight) / 2);
	line-height: var(--bHeight);
}

#play {
	top: var(--hSpace);
	left: 5vw;
	background-color: green;
}

#stop {
	top: var(--hSpace);
	left: calc(95vw - var(--bWidth));
	background-color: red;
}

#next {
	top: var(--hSpace);
	left: calc(10vw + var(--bWidth));
	background-color: orange;
}

#play:hover {
	cursor: wait;
    text-shadow: 0 0 5px whitesmoke;
}

#stop:hover {
	cursor: not-allowed;
    text-shadow: 0 0 5px whitesmoke;
}

#next:hover {
	cursor: e-resize;
    text-shadow: 0 0 5px whitesmoke;
}

#time, #time-now, #time-end {
	position: absolute;
	left: calc(17vw + var(--bWidth) * 2 + var(--bHeight));
	width: var(--wTime);
	background-color: beige;
	text-align: center;
}

#time {
	top: var(--hSpace);
	font-size: var(--bHeight);
	line-height: var(--bHeight);
}

#time-now {
	top: calc(var(--hSpace) / 4);
	font-size: calc(var(--hSpace) / 2);
	line-height: calc(var(--hSpace) / 2);
}

#time-end {
	top: calc(var(--hSpace) * 1.25 + var(--bHeight));
	font-size: calc(var(--hSpace) / 2);
	line-height: calc(var(--hSpace) / 2);
}

.staminaBox, .staminaText {
	position: absolute;
	top: calc(var(--hSpace) * 2 + var(--bHeight));
	left: 5vw;
	height: var(--bHeight);
	width: 90vw;
	text-align: center;
	border: 1px solid;
	border-radius: var(--bHeight);
	overflow: hidden;
}

.staminaText {
	left: 20vw;
	width: 60vw;
	font-size: var(--bHeight);
	line-height: var(--bHeight);
	z-index: 100;
	border: none;
}

#staminaBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: green;
	z-index: 50;
}


.clock {
	--fontHeight: 1vw;
	--wClock: calc(var(--bHeight) + var(--fontHeight) * 2);
	position: absolute;
	top: calc(var(--hSpace) - 1vw);
	width: var(--wClock);
	height: var(--wClock);
	border: 1px solid black;
	border-radius: 100%;
	text-align: center;
}

.clock-now {
	left: calc(15vw + var(--bWidth) * 2);
	background-color: burlywood;
}

.clock-chrono {
	left: calc(90vw - var(--bWidth) - var(--bHeight));
	background-color: orange;
}

.clock-time {
	position: absolute;
	top: 0;
	left: calc(50% - 0.6vw);
	width: 1.2vw;
	height: calc(var(--wClock) / 2);
	font-size: var(--fontHeight);
	line-height: var(--fontHeight);
	transform-origin: bottom center;
}

.clock-innerCircle {
	position: absolute;
	top: calc(50% - var(--bHeight) / 2);
	left: calc(50% - var(--bHeight) / 2);
	width: var(--bHeight);
	height: var(--bHeight);
	border: 1px solid black;
	border-radius: 100%;
}

.clock .cinq {
    transform: rotate(30deg);
}

.clock .dix {
    transform: rotate(60deg);
}

.clock .quinze {
    transform: rotate(90deg);
	height: calc(var(--wClock) / 2 + 1px);
}

.clock .vingt {
    transform: rotate(120deg);
	height: calc(var(--wClock) / 2 + 0.5px);
}

.clock .vingt-cinq {
    transform: rotate(150deg);
	height: calc(var(--wClock) / 2 + 0.5px);
}

.clock .trente {
    transform: rotate(180deg);
	height: calc(var(--wClock) / 2 + 1px);
}

.clock .trente-cinq {
    transform: rotate(210deg);
	height: calc(var(--wClock) / 2 + 0.5px);
}

.clock .quarante {
    transform: rotate(240deg);
	height: calc(var(--wClock) / 2 + 0.5px);
}

.clock .quarante-cinq {
    transform: rotate(270deg);
}

.clock .cinquante {
    transform: rotate(300deg);
}

.clock .cinquante-cinq {
    transform: rotate(330deg);
}

.clock .clock-time .reversed {
    transform: rotate(180deg);
}

#hour, #hourF, #min, #minF, #sec, #secF {
	position: absolute;
	top: 50%;
	margin: auto;
	transform-origin: center top;
}

#hour, #hourF {
	width: 4px;
	left: calc(50% - 2px);
	height: 17.5%;
	background-color: red;
}

#hourF {
	background-color: black;
}

#min, #minF {
	width: 2px;
	left: calc(50% - 1px);
	height: 25%;
	background-color: blue;
}

#minF {
	background-color: red;
}

#sec, #secF {
	width: 1px;
	left: calc(50% - 0.5px);
	height: 32.5%;
	background-color: black;
}

#secF  {
	background-color: blue;
}

/* Merci benoit ^^ */
input[type="text"] {
	background-color: transparent;
	border: none;
	width: 1.8em;
	outline: none;
	font-size: calc((var(--bHeight)) / 3);
	text-align: center;
	letter-spacing: 1px;
}

input[type="text"]:hover {
    text-shadow: 0 0 5px whitesmoke;
}

#workSet, #breakSet, #stopSet {
	left: 5vw;
	line-height: calc((var(--bHeight)) / 2.2 );
	font-size: calc((var(--bHeight)) / 2.75);
}

#workSet {
	top: var(--workSetTop);
	background-color: red;
}

#breakSet {
	top: var(--breakSetTop);
	background-color: orange;
}

#stopSet {
	top: var(--chillSetTop);
	background-color: green;
}

#menuSwitch {
	position: absolute;
	left: 92.85vw;
	height: 2.15vw;
	line-height: 2.15vw;
	top: calc(var(--hSpace) * 3 + var(--bHeight) * 2);
	font-size: 2.5vw;
	z-index: 100;
}

#menuSwitch:hover {
	cursor: help;
    text-shadow: 0 0 5px green;
}

#menu {
	--mWidth: calc(var(--bWidth) * 1.5);
	position: absolute;
	left: calc(93vw - var(--mWidth));
	top: calc(var(--hSpace) * 3 + var(--bHeight) * 2);
	width: var(--mWidth);
	height: var(--hWorkZone);
	padding: 0 1vw;
	display: none;
	background-color: burlywood;
	font-size: calc(var(--hWorkZone) / 15);
	line-height: calc(var(--hWorkZone) / 50);
	z-index: 50;
	overflow: auto;
	border-radius: 1.1vw;
}

#phaseShower {
	position: absolute;
	left: calc(6vw + var(--bWidth));
	top: var(--workSetTop);
	display: none;
	height: var(--bHeight);
	line-height: var(--bHeight);
	font-size: calc(var(--bHeight) * 0.8);
}

.version {
	position: absolute;
	bottom: 0.6vw;
	right: 0.6vw;
	margin: 0;
	padding: 0;
}

#selectWork, #selectBreak, #selectChill {
	position: absolute;
	left: calc(2.5vw - var(--bHeight) / 4);
	font-size: calc(var(--bHeight) / 2);
}

#selectWork:hover, #selectBreak:hover, #selectChill:hover {
	cursor: crosshair;
    text-shadow: 0 0 5px red;
}

#selectWork {
	top: calc(var(--hSpace) * 3 + var(--bHeight) * 2 + var(--bHeight) / 4);
}

#selectBreak {
	top: calc(var(--hSpace) * 3.5 + var(--bHeight) * 3 + var(--bHeight) / 4);
}

#selectChill {
	top: calc(var(--hSpace) * 4 + var(--bHeight) * 4 + var(--bHeight) / 4);
}

#toDoList {
	position: absolute;
	--hTop: calc(var(--hSpace) * 3 + var(--bHeight) * 2);
	top: var(--hTop);
	--width: 50vw;
	left: calc(49vw - var(--width) / 2);
	height: var(--hWorkZone);
	width: var(--width);
	margin: 0;
}

#toDoList-toDo, #toDoList-doing, #toDoList-done {
	position: absolute;
	top: 0;
	left: 0%;
	background-color: red;
	width: 30%;
	height: 100%;
	border-radius: 1.1vw;
}

#toDoList h2{
	position: absolute;
	top: 0;
	margin-top: 0;
	width: 100%;
	height: 2.5vw;
	font-size: 1.75vw;
	line-height: 2.5vw;
	text-align: center;
	background-color: burlywood;
	border-radius: 1.1vw;
}

#toDoList-doing {
	background-color: orange;
	left: 33%;
}

#toDoList-done {
	background-color: green;
	left: 66%;
}

.box-shadow {
    box-shadow: 0.26vw 0.26vw 0.26vw grey;
}

.text-shadow {
    text-shadow: 0.26vw 0.26vw 0.26vw grey;
}

#selectWork.text-shadow:hover, #selectBreak.text-shadow:hover, #selectChill.text-shadow:hover {
    text-shadow: 0.26vw 0.26vw 0.26vw grey, 0 0 0.26vw red;
}

 #menuSwitch.text-shadow:hover {
    text-shadow: 0.26vw 0.26vw 0.26vw grey, 0 0 0.26vw green;
}